.likert {
  display: flex;
  gap: 2rem;
}

.likert-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.likert-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

.likert-label {
  font-size: 0.85rem;
  text-align: center;
  max-width: 120px;
  min-width: 112px;
  line-height: 1.1;
}